<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!--
		在xml文件中提供配置登录拦截器，实现登录验证的功能：
		1.当用户访问项目资源时，会判断用户是否登录系统
		2.如果用户登录系统，则通过拦截
		3.如果用户未登录系统，则不通过拦截，返回字符信息提示用户未登录
		4.如果用户直接访问的资源为登录页面或者登录的请求url,则直接通过拦截。
	-->
	<!--1.配置登录拦截器对象-->
	<bean name="loginInterceptor" class="com.briup.web.interceptor.LoginInterceptor"/>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/html/login.html"/>
			<ref bean="loginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>




	<!--3.配置控制器/处理器： handler
		作用：接收请求信息，作出响应操作
	-->
	<bean name="/hello" class="com.briup.web.controller.part1.JackController"/>
	<bean name="/login" class="com.briup.web.controller.part1.LoginController"/>



	<!--1.视图解析器
    作用： 将逻辑视图名转换为物理视图
    例如： 将jack视图名转换为 /WEB-INF/jsp/jack.jsp 物理视图名
  	-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--可以实现解析jsp页面的jstl标签-->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<!--配置物理视图前缀信息-->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!--配置物理视图后缀信息-->
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!--2.解决静态资源无法访问的问题-->
	<mvc:default-servlet-handler/>
</beans>