<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!--
	    在xml文件配置springMVC工作流程中的组件
	-->




	<!--
		spring 读取xml文件中bean标签；根据配置class属性值
		创建对应的java对象 bean对象
		java对象的属性通过property标签
		获取哪个属性对应的初始化的值
	-->

	<!--1.配置处理器映射器 ： handlerMapping
		作用：根据前端控制器接收到的url找到对应的处理器对象

	  -->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	<!--2.配置适配器： HandlerAdapter
		作用：判断处理器对象的接口类型，如果是Controller接口类型，则调用处理器中的handleRequest方法
	  -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
	<!--3.配置控制器/处理器： handler
		作用：接收请求信息，作出响应操作
	-->
	<bean name="/hello" class="com.briup.web.controller.part1.JackController"/>
	<!--4.视图解析器
		作用： 将逻辑视图名转换为物理视图
		例如： 将jack视图名转换为 /WEB-INF/jsp/jack.jsp 物理视图名
	  -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--可以实现解析jsp页面的jstl标签-->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<!--配置物理视图前缀信息-->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!--配置物理视图后缀信息-->
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!--5.解决静态资源css不能访问的问题-->
	<mvc:resources mapping="/css/**" location="/css/"/>
</beans>