<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<bean name="t" class="com.briup.bean.Teacher">
		<property name="id" value="1"/>
		<property name="name" value="jack"/>
		<!--对象的依赖问题； Teacher 依赖Student  -->
		<property name="students">
			<list>
				<ref bean="s1"/>
				<ref bean="s2"/>
				<ref bean="s3"/>
			</list>
		</property>
	</bean>
	
	<bean name="s1" class="com.briup.bean.Student">
		<property name="id" value="101"/>
		<property name="name" value="tom"/>
	</bean>
	
	<bean name="s2" class="com.briup.bean.Student">
		<property name="id" value="102"/>
		<property name="name" value="bob"/>
	</bean>
	
	<bean name="s3" class="com.briup.bean.Student">
		<property name="id" value="103"/>
		<property name="name" value="rose"/>
	</bean>
	
</beans>