<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!--1.创建拦截器对象  -->
	<bean name="myInterceptor" class="com.briup.web.interceptor.MyhandlerInterceptor2"></bean>
	<bean name="loginInterceptor" class="com.briup.web.interceptor.LoginhandlerInterceptor"></bean>
	<!--2.手动配置出映射器对象   -->
	<mvc:interceptors>
		<!--1.添加拦截器  -->
		<mvc:interceptor>
			<!--拦截所有url请求  -->
			<mvc:mapping path="/**"/>
			<!-- 不拦截路径信息  -->
			<mvc:exclude-mapping path="/test"/>
			<!-- 指定拦截的对象 -->
			<ref bean="myInterceptor"/>
		</mvc:interceptor>
		<!--添加登录拦截器  -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/html/login.html"/>
			<ref bean="loginInterceptor"/>
		</mvc:interceptor>
		
	</mvc:interceptors>
	<!--3.视图解析器  -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 4. -->
	<mvc:default-servlet-handler/>
	
	<!-- 5添加请求url对应的控制器 -->
	<bean name="/hello" class="com.briup.web.JackController"></bean>
	<bean name="/test" class="com.briup.web.TestController"></bean>
	<bean name="/userLogin" class="com.briup.web.LoginController"></bean>
</beans>